.logout-container {
  margin-top: auto; /* same as mt-auto in Tailwind */
  display: flex;
  padding:5px;
}

.logout-icon {
  width: 24px;  /* w-6 */
  height: 24px; /* h-6 */
  color: white;
  cursor: pointer;
  transition: color 0.2s ease;
}

.logout-icon:hover {
  color: #ef4444; /* red-500 on hover */
}
