.message {
  display: flex;
  align-items: flex-end;
  margin: 10px 0;
  gap: 8px;
}

.message-end {
  justify-content: flex-end;
}
.message-start {
  justify-content: flex-start;
}

.message-avatar img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.message-bubble {
  background-color: #3b82f6; 
  color: white;
  padding: 8px 12px;
  border-radius: 16px;
  max-width: 60%;
  
}

.message-footer {
  font-size: 10px;
  opacity: 0.6;
  display: flex;
  justify-content: end;  
  
}

.message-start .message-bubble {
  background-color: #646464; /* incoming msg color */
  border-bottom-left-radius: 4px;
}

.message-end .message-bubble {
  background-color: #4f46e5; /* outgoing msg (blue) */
  color: white;
  border-bottom-right-radius: 4px;
}